<div class="grid">
  <div class="col-12 md:col-6">
    <div class="card">
      <h5>Input</h5>
      <div>
        <textarea
          class="w-full"
          rows="8"
          pInputTextarea
          [(ngModel)]="userInput"
          placeholder="a spark of inspiration..."></textarea>
      </div>
      <div class="flex justify-content-center flex-wrap gap-2 mt-4">
        <button
          pButton
          pRipple
          label="Submit"
          icon="pi pi-send"
          iconPos="right"
          [loading]="submitting"
          [disabled]="!userInput.trim()"
          (click)="submit()"></button>
        <button
          pButton
          pRipple
          label="Clear"
          icon="pi pi-trash"
          iconPos="right"
          class="p-button-danger"
          (click)="clear()"></button>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="card">
      <h5>SVG Preview</h5>
      <markdown ngPreserveWhitespaces clipboard [data]="svgCode | language : 'svg'"></markdown>
      <p-divider></p-divider>
      <div class="flex justify-content-center flex-wrap gap-2">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-file-import"
          label="Import SVG"
          (click)="chooseFile()">
          <input
            #advancedfileinput
            type="file"
            class="hidden"
            (change)="importSVG($event)"
            [multiple]="false"
            accept=".svg"
            [attr.title]="''" />
        </button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-file-export"
          [disabled]="!sanitizedSvg"
          label="Export SVG"
          (click)="exportSVG()"></button>
      </div>
      <div
        #svgPreview
        [innerHTML]="sanitizedSvg"
        class="flex justify-content-center mt-4 svg-preview"></div>
    </div>
  </div>
</div>
